= form_for @handler do |f|
  - if @handler.errors.any?
    #error_explanation
      %h2= "#{pluralize(@handler.errors.count, "error")} prohibited this handler from being saved:"
      %ul
        - @handler.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :room_no
    = f.text_field :room_no
  .field
    = f.label :floor
    = f.text_field :floor
  .field
    = f.label :contact_no
    = f.text_field :contact_no
  .field
    = f.label :intercom
    = f.text_field :intercom
  .field
    = f.label "User:"
    = f.collection_select(:user_id, User.all, :id,:email)  
  .actions
    = f.submit 'Save'
