%h1.header Listing statuses
%br
%table.table.table-bordered.table-hover
  %tr
    %th #
    %th Type
    %th
    %th
    %th

  - @statuses.each_with_index do |status,index|
    
    %tr
      = will_paginate @statuses
    %tr
      -if params[:page].to_i == 0
        %td= index+1
      -else
        %td= (params[:page].to_i-1)*5+index+1
      %td= status.type
      %td= link_to 'Show', status
      %td= link_to 'Edit', edit_status_path(status)
      %td= link_to 'Destroy', status, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Status', new_status_path
