%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    
    = link_to image_tag("logo.jpg", size: "80x50", alt: "Home"), home_complaints_path

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to "Welcome, #{current_user.email}",'#'
        %li= link_to "Edit User", edit_user_registration_path
        %li= link_to "LogOut", destroy_user_session_path, rel: :nofollow, method: :delete
            
      - unless user_signed_in?
        %li= link_to "Signup", new_user_registration_path
        %li= link_to "Login", new_user_session_path
    = render 'layouts/javascripts'
